<link rel="stylesheet" href="styles/style.css">
<nav>
    <ul>
        <li><a href="index.html"><img id="logo" src="img/logo.png" alt="logo daLove"></a></li>
                <li><a class="inlogbutton" href="inloggen">Inloggen</a></li>
    </ul>
</nav>