<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/logo.png" />
    <link rel="stylesheet" href="styles/style.css">
    <title>daLove | Ingelogd</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html"><img id="logo" src="img/logo.png" alt="logo daLove"></a></li>
                <li><a  id="account" href="profiel"><img id="profiel" src="img/profile.png" alt=""></a></li>
                        <li><a class="uitlogbutton" href="uitloggen">uitloggen</a></li>
            </ul>
        </nav>
</header>
<main>
    <h1>pas je username aan</h1>

    <div>
        <form action="/hoofdpagina" method="POST">
            <fieldset>
                <!-- username -->
                <label for="user">Username </label>
                <input type="text" name="username" value="<%= data.username %>" placeholder="Je gebruikersnaam update" maxlength="15" required>
    
                
            </fieldset>
                            <!-- sumbit button -->
                <input type="submit" value="update">
        </form>
    </div>

    
</main>


</body>

</html>