<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/logo.png" />
    <link rel="stylesheet" href="styles/style.css">
    <title>daLove | Ingelogd</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html"><img id="logo" src="img/logo.png" alt="logo daLove"></a></li>
                        <li><a class="uitlogbutton" href="uitloggen">uitloggen</a></li>
            </ul>
        </nav>
</header>
<main>
    <h1>Welkom,  !</h1>

    <section>
        <h2>hier komen de aangemaakte gebruikers</h2>
    
        <% for (var i = 0; i< data.length; i++){ %>

            <h3>
                <%= data[i].firstname %>
            </h3>
            <p> @<%= data[i].username %></p>
            <p>
                <%= data[i].age %>
            </p>
            <p>
                <%= data[i].description %>
            </p>
    
            </p>
    
           <% } %>

           
     
    </section>

</main>


</body>

</html>