  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uitloggen</title>

    <p>U bent uitgelogd</p>

    <h2>login</h2>
    <a href="inloggen">login</a>

    <h2>hoofdpagina</h2>
    <a href="/">Home</a>

    <p>hi  your number <%= viewCount %></p>
</head>
<body>
    
</body>
</html>