<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/logo.png" />
    <link rel="stylesheet" href="styles/style.css">
    <title>daLove | Update Username</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html"><img id="logo" src="img/logo.png" alt="logo daLove"></a></li>
            </ul>
        </nav>
</header>
<main>
    <h1>Weet je zeker dat de username <%= data.username %> correct is?</h1>
    <h2  class="accData">Dit kan namelijk niet meer aangepast worden.</h2>

    <section>
        <form action="/update" method="POST">
            <fieldset>
                <!-- username -->
                <label for="user">Username </label>
                <input type="text" name="username" value="<%= data.username %>" placeholder="Je gebruikersnaam update" maxlength="15" required>
            </fieldset>
                            <!-- sumbit button -->
                <input type="submit" value="update">
        </form>
    </section>

    
</main>


</body>

</html>